body {
	font-family: arial;
	font-size: 14pt;
	width: 90%;
	margin: 0 auto 100px auto;
	font-weight: normal;
}

h1 , h2 {
	margin: 20pt 0 20pt;
	font-size: 16pt;
}

h1 {
	font-size: 18pt;
	font-weight: bold;	
}

p {
	margin: 14pt 0 14pt;
}

table td {
	padding: 10px 10px 10px 0;
}